<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>CV</h2>
      <p>Check My CV</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Tanapun Arthakaivalvatee</h4>
          <p><em>Motivative and innovative Full-Stack Developer with over a year of experience in web application
              design and development, from concept to final, polished product delivery.</em>
          </p>
          <p>
          <ul>
            <li>Bangkok, Thailand</li>
            <li>(+66) 62 518 0678</li>
            <li>tanapun.art@gmail.com</li>
          </ul>
          </p>
        </div>

        <h3 class="resume-title">Scholarship & Loan</h3>
        <div class="resume-item">
          <h4>Outstanding Academic Performance Award 2020</h4>
          <h5>2020</h5>
          <p><em>University Scholarship</em></p>
          <ul>
            <li>Was one of the best fifty-three students in the university of the year.</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Charoen Pokphand Group (C.P. GROUP) Scholarship</h4>
          <h5>2019 - 2022</h5>
          <p><em>Ongoing Scholarship</em></p>
          <ul>
            <li>Required me to study various courses including English, data science, soft skills, hard skills,
              finance management, and useful knowledge and skills.</li>
            <li>Required me to create a project to improve a school sustainability.</li>
            <li>Required me to intern at Gosoft (Thailand) Co., Ltd. & CP's the Tara Building Facility Department</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4>Income Contingent Loan</h4>
          <h5>2018 - 2022</h5>
          <p><em>Ongoing Loan</em></p>
          <ul>
            <li>Required me to participate in necessary events for at least 36 hours per semester</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Science (Computer Science and Innovation)</h4>
          <h5>2018 - 2022</h5>
          <p><em>Mae Fah Luang University, Chiang Rai, Thailand</em></p>
          <ul>
            <li>GPAX: 3.67</li>
            <li>Senior project involved full-stack web application development & initiating/running a startup business
            </li>
            <li>Earned first class honors, gold medal</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>General Education Diploma (GED)</h4>
          <h5>2018</h5>
          <p><em>Paradigm: Second floor at Almalink Building, Chitlom, Bangkok, Thailand.</em></p>
          <ul>
            <li>GPAX: 3.03</li>
            <li>Took GED test to pass and be approved as a grade-12 student.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Elementary School - High School</h4>
          <h5>2009-2017</h5>
          <p><em>Christian Liberty Academy School, IL, United States of America</em></p>
          <ul>
            <li>Homeschooling</li>
            <li>Self-study</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Software Developer (Full-time job)</h4>
          <h5>July 2022 - Present</h5>
          <p><em>IBM Thailand Co., Ltd, Bangkok, Thailand</em></p>
          <p>
          <p><strong>Partner Power Board Project - PowerBI (Duration: 8 Months)</strong></p>
          <ul>
            <li>Enhanced the user interface of the dashboards by refining the fonts, colors, and spacing, and
              streamlining navigation buttons into dropdown menus.</li>
            <li>Developed SpringBoot-based Security Microservice API and Registration Microservice API for the data to display on dashboard deployed on the
              Cirrus cloud using the pipeline concept for streamlined development and deployment.</li>
            <li>Focused on the Registration Microservice API and created its API collection on Postman automated tests.
            </li>
            <li>Developed NodeJS APIs for data extraction directly from IBM's EPM cloud database, designed and deployed
              to
              the cloud for ease of use, and created a comprehensive manual.</li>
            <li>Developed a Python-based Selenium automation tool for extracting sales data from EPM and analyzing it
              for the Cloud Dashboards.</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Back-end developer (Co-operative Education)</h4>
          <h5>Jan 2022 - May 2022</h5>
          <p><em>Accenture Solutions Co., Ltd, Bangkok, Thailand</em></p>
          <p>
          <ul>
            <li>Tested system according to assigned test cases</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Developer (Freelance)</h4>
          <h5>Aug 2021 - Dec 2021</h5>
          <p><em>Yadee - Online Pharmarcy Store Application</em></p>
          <p>
          <ul>
            <li>Designed and created front-end pages for admin panel</li>
            <li>Created management system for admin panel</li>
            <li>Deployed admin panel website on cloud server</li>
            <li>Designed and created database</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Developer (Freelance)</h4>
          <h5>Aug 2021 - Sep 2021</h5>
          <p><em>Jinjang筆譯/口譯服務｜Interpreter Procurement Services - Translation Services</em></p>
          <p>
          <ul>
            <li>Website: <a href="https://www.jinjang.online/">www.jinjang.online</a></li>
            <li>Created front-end pages according to requirements</li>
            <li>Created back-end system for the website</li>
            <li>Deployed website on cloud system</li>
            <li>Designed and created database</li>
            <li>Connected cloud server to registered domain name</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-Stack Engineer (Remote Part-time)</h4>
          <h5>Jul 2021 - Present</h5>
          <p><em>Proof Of Happiness, Inc., Delaware, United States </em></p>
          <p>
          <ul>
            <li>Research and identify new products and marketplaces.</li>
            <li>Design software system architecture.</li>
            <li>Write technical documents.</li>
            <li>Maintain, analyze, design, and develop products for every process</li>
            <li>Ensure all essential app integrations are implemented and working at all times.</li>
            <li>Employ simple, quick, inexpensive solutions.</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-stack Developer (Internship)</h4>
          <h5>Jun 2021 - Jul 2021</h5>
          <p><em>Gosoft (Thailand) Co., Ltd, Nonthaburi, Thailand</em></p>
          <p>
          <ul>
            <li>Developed Angular components according to the UIs</li>
            <li>Wrote Spring Boot APIs</li>
            <li>Integrated Spring back-end to front-end</li>
            <li>Wrote string translation documents</li>
            <li>Wrote API document</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>CP's the Tara Building Facility Department (Internship)</h4>
          <h5>Jun 2021 - Jun 2021</h5>
          <p><em>C.P. ALL PUBLIC Co., Ltd, Nonthaburi, Thailand</em></p>
          <p>
          <ul>
            <li>Learned how to do facility checklist and documentation</li>
            <li>Monitored CCTV System</li>
            <li>Managed and arranged storage</li>
            <li>Learned how to clean cassette air conditioner</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Developer (Freelance)</h4>
          <h5>Mar 2021</h5>
          <p><em>Maitree Solution (freelance team), Chiang Rai, Thailand</em></p>
          <p>
          <ul>
            <li>Designed system database</li>
            <li>Developed complex front-end page according to the requirement</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-Stack Developer & Entrepreneur (Senior Project)</h4>
          <h5>Jan 2021 - Dec 2021</h5>
          <p><em>Mae Fah Luang University, Chiang Rai, Thailand</em></p>
          <p>
          <ul>
            <li>A start-up project</li>
            <li>Do everything from scracth based on SDLC.</li>
            <li>Still on-going</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-Stack Developer (Freelance/Solo)</h4>
          <h5>Jul 2020 - Oct 2020</h5>
          <p><em>A start-up project (customer required me not to specifically reveal this), Chiang Rai, Thailand</em>
          </p>
          <p>
          <ul>
            <li>Designed system architecture</li>
            <li>Developed front-end pages for over 20 pages</li>
            <li>Designed & Created MySQL database</li>
            <li>Developed all back-end APIs according to the design</li>
            <li>Tested the product</li>
            <li>Deployed on a cloud server</li>
            <li>Maintained the system until everything went satisfied</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-Stack Developer (Part-time)</h4>
          <h5>May 2020 - Aug 2020</h5>
          <p><em>Academic Extension and Development Office (AEDO at MFU), Chiang Rai, Thailand</em></p>
          <p>
          <ul>
            <li>Created database tables</li>
            <li>Developed complex front-end pages according to the requirements</li>
            <li>Maintained API routes</li>
            <li>Tested API services</li>
            <li>Monitored actual producted launch</li>
            <li>Troubleshot every issues from ticket issue system.</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>English-Thai Translator (Freelance/Solo)</h4>
          <h5>Feb 2020 - Present</h5>
          <p><em>A seller on Fiverr</em></p>
          <p>
          <ul>
            <li>Translate every kind of documents.</li>
            <li>Do voice over according to client's requirement.</li>
            <li>Subtitle in both of the languages</li>
            <li>Technical translate on, for example, WordPress & CrowdIn</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Data Scientist (Freelance)</h4>
          <h5>Feb 2020 - March 2020</h5>
          <p><em>Biomedical Informatic Laboratory, Mae Fah Luang University, Chiang Rai, Thailand</em></p>
          <p>
          <ul>
            <li>Applied a viral process result from lab into algorithm predictor.</li>
            <li>Analysed, built, & cleaned data (approx. 500k rows) on Excel</li>
            <li>Delivered and discussed the result</li>
            <li>Developed a static web-application to display final data</li>
            <li>Deployed the web-application on a server</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Full-Stack Developer (Part-time)</h4>
          <h5>Aug 2019 - Jun 2020</h5>
          <p><em>Mfessolutions Co.,Ltd, Chiang Rai, Thailand</em></p>
          <p>
          <ul>
            <li>Developed front-end pages according to the UI designs</li>
            <li>Created database tables</li>
            <li>Created back-end API services</li>
            <li>Tested APIs</li>
            <li>Integrated back-end to front-end</li>
            <li>Deployed for testing via Docker & FileZilla</li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->