<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Gallery</h2>
      <p>(Updated on June 2022)</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-certification">Certifications</li>
          <li data-filter=".filter-work">Works</li>
          <li data-filter=".filter-Internship">Internship</li>
          <li data-filter=".filter-unilife">University</li>
          <li data-filter=".filter-hobby">Hobbies</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" id="myshowcase">

      <div class="col-lg-4 col-md-6 portfolio-item filter-certification">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/Certification.png" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Certification from Harvard University</h4>
            <p>Web Programming with Python and JavaScript, including six projects</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Portfolio Section -->

<script>
  $(document).ready(function () {
    const image_item = [
      {
        header: "Certification from Harvard University",
        description: "WEB PROGRAMMING WITH PYTHON AND JAVASCRIPT, INCLUDING SIX PROJECTS",
        image_name: "Harvard Python Certification.png",
        image_type: "certifications"
      },
      {
        header: "OUTSTANDING ACADEMIC PERFORMANCE AWARD 2020",
        description: "WAS ONE OF THE BEST FIFTY-THREE STUDENTS IN THE UNIVERSITY OF THE YEAR",
        image_name: "Outstanding Student.png",
        image_type: "certifications"
      },
      {
        header: "GOLD MEDAL AWARD 2022",
        description: "ONLY TOP COMPUTER SCIENCE STUDENT WILL RECEIVE THIS",
        image_name: "Gold Medal Certification.jpg",
        image_type: "certifications"
      },
      {
        header: "CEREMONY - GOLD MEDAL AWARD 2022",
        description: "ONLY TOP COMPUTER SCIENCE STUDENT WILL RECEIVE THIS",
        image_name: "Gold Medal Certification - Ceremony.jpg",
        image_type: "university"
      },
      {
        header: "Basketball Player",
        description: "I LOVE PLAYING BASKETBALL AS MY FAVORITE SPORT",
        image_name: "Hobby - Basketball.jpg",
        image_type: "hobbies"
      },
      {
        header: "Guitarist",
        description: "I LOVE TO EXPRESS HEAVY METAL VIA ELECTRIC GUITAR",
        image_name: "Hobby - Guitar.JPG",
        image_type: "hobbies"
      },
      {
        header: "Concert - Guns N' Roses",
        description: "Attended Guns N' Roses Concert - Live in Thailand 2022",
        image_name: "Guns N Roses.jpg",
        image_type: "hobbies"
      },
      {
        header: "Concert - Trivium",
        description: "Attended Trivium Concert - Live in Thailand 2023",
        image_name: "Trivium.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & Cabin Boy Jumped Ship",
        description: "Took photo with Cabin Boy Jumped Ship Band",
        image_name: "ParadiseFest - Cabinboy.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & Tragedy of Murder",
        description: "Took photo with the singer of Tragedy of Murder and the owner of Headbangkok press",
        image_name: "Trivium - Jeddy Tragedy of Murder.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & Hardboy",
        description: "Took photo with the singer of Hardboy",
        image_name: "ParadiseFest - P Hardboy.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & PP'Dreams",
        description: "Took photo with PP'Dreams, a rapper",
        image_name: "ParadiseFest - PP Dream.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & Fort Amaya",
        description: "Took photo with the singer of Fort Amaya",
        image_name: "Paradisefest FORT AMAYA Ball.jpg",
        image_type: "hobbies"
      },
      {
        header: "I & Sudden Face Down",
        description: "Took photo with the singer of Sudden Face Down",
        image_name: "ParadiseFest - Art Sudden Face Down.jpg",
        image_type: "hobbies"
      },
      {
        header: "IBM Thailand's 70th Anniversary Party",
        description: "Won as a participator of IBM Got Talent",
        image_name: "IBM Got Talent.jpg",
        image_type: "work"
      },
      {
        header: "IBM Thailand's 70th Anniversary Party",
        description: "Was in IBM's Big Blue Band",
        image_name: "IBM Band 70 anni.jpg",
        image_type: "work"
      },
      {
        header: "IBM Thailand's 70th Anniversary Party",
        description: "Group photo with IBM's Managing Director & Senior IBM Members",
        image_name: "IBM Got Talent - With MD.jpg",
        image_type: "work"
      },
      {
        header: "IBM Executive Partner Connect 2023",
        description: "Group photo with an executive from Metro Connect Co., Ltd and a senior IBM member",
        image_name: "IBM Excutive Partner - with Metro.jpg",
        image_type: "work"
      },
      {
        header: "IBM Executive Partner Connect 2023",
        description: "Guitarist was my role on IBM's Big Blue Band responsible to perform in the event",
        image_name: "IBM Band Members.jpg",
        image_type: "work"
      },
      {
        header: "Music Producer/Lover",
        description: "I've BEEN OBSESSING MUSIC SINCE I WAS A YOUNG BOY",
        image_name: "hobby (3).jpg",
        image_type: "hobbies"
      },
      {
        header: "Media Creator",
        description: "I LOVE DOING MEDIA THINGS LIKE FILMING A SHORT MOVIE WITH FRIENDS",
        image_name: "hobby (4).jpg",
        image_type: "hobbies"
      },
      {
        header: "A seller on Fiverr",
        description: "https://www.fiverr.com/aliuses",
        image_name: "Part-time (2).png",
        image_type: "work"
      },
      {
        header: "Group Picture with AEDO Company",
        description: "PHOTO WAS TOOK WHILE I WAS WORKING AS A PART-TIME FULL-STACK DEVELOPER",
        image_name: "Part-time (1).jpg",
        image_type: "work"
      },
      {
        header: "Class Presentation",
        description: "OUR GROUP PROJECT WAS CREATION OF IT SCHOOL WEB APPLICATION IN EARLY 2019",
        image_name: "Unilife",
        image_type: "university"
      },
      {
        header: "Computer Science Friends",
        description: "WE TOOK THIS PHOTO TOGETHER AFTER THE FINAL TEST OF THE FIRST YEAR",
        image_name: "Unilife2",
        image_type: "university"
      },
      {
        header: "Ngamfest Music Festival 2019",
        description: "Guitarist was my role in Rockstar Paradise which performed in Mae Fah Luang University",
        image_name: "University - Ngam Fest.jpg",
        image_type: "university"
      },
      {
        header: "Ablefetch Platform",
        description: "FREELANCE PLATFORM STARTUP BUSINESS AS A SENIOR PROJECT",
        image_name: "Senior.jpg",
        image_type: "university"
      },
      {
        header: "Certification",
        description: "Introduction to Continuos Integration & Continuous Delivery",
        image_name: "Introduction to Continuos Integration & Continuous Delivery.jpg",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "The DevOps Essentials - The Handbook",
        image_name: "The DevOps Essentials - The Handbook.jpg",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Cloud Computing Basics (Cloud 101)",
        image_name: "Coursera Cloud Computing Basics (Cloud 101)-1.png",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Google Cloud Certification",
        image_name: "Coursera Google Cloud Certification-1.png",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Devtools Pro The Basics of Chrome Developer Tools",
        image_name: "Devtools Pro The Basics of Chrome Developer Tools-1.png",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Modern JavaScript From The Beginning",
        image_name: "Modern JavaScript From The Beginning.png",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "OWASP Threats Fundamentals",
        image_name: "OWASP Threats Fundamentals-1.png",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Web Design for Beginners Real World Coding in HTML & CSS",
        image_name: "Web Design for Beginners Real World Coding in HTML & CSS-1.png",
        image_type: "certifications"
      },
      {
        header: "DevSecOps Essentials Badge",
        description: "https://www.credly.com/badges/8809a2fc-d68e-47ad-b62a-8bb0628702ed/public_url",
        image_name: "DevSecOps Essentials.PNG",
        image_type: "certifications"
      },
      {
        header: "Enterprise Design Thinking Practitioner Badge",
        description: "https://www.credly.com/badges/1a33d722-0f96-454d-a6ee-e50a122ed3bc/public_url",
        image_name: "Enterprise Design Thinking Practitioner.PNG",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "IBM 2023 BCG Training",
        image_name: "IBM 2023 BCG Training.PNG",
        image_type: "certifications"
      },
      {
        header: "IBM Consulting Way Badge",
        description: "https://www.credly.com/badges/f8a78fc2-24fa-4ee8-b060-61a598ac198b/public_url",
        image_name: "IBM Consulting Way.PNG",
        image_type: "certifications"
      },
      {
        header: "Certification",
        description: "Code Combat",
        image_name: "Tanapun Code Combat Cert.PNG",
        image_type: "certifications"
      },
      {
        header: "Cloud Core Badge",
        description: "https://www.credly.com/badges/4259fea7-057c-48f2-9fa1-b40492708387/public_url",
        image_name: "Cloud Core.PNG",
        image_type: "certifications"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (2).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (4).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (5).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (6).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (7).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (8).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN C.P. ALL PUBLIC CO., LTD AS A BUILDING FACILITY MAINTENANCE",
        image_name: "Internship (9).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN GOSOFT (THAILAND) CO., LTD AS A FULL-STACK DEVELOPER",
        image_name: "Internship (1).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN GOSOFT (THAILAND) CO., LTD AS A FULL-STACK DEVELOPER",
        image_name: "Internship (3).jpg",
        image_type: "work"
      },
      {
        header: "CP's Internship",
        description: "I WAS INTERNING IN GOSOFT (THAILAND) CO., LTD AS A FULL-STACK DEVELOPER",
        image_name: "Internship (10).jpg",
        image_type: "work"
      },
    ];

  });
</script>