<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">
  
      <div class="section-title">
        <h2>Gallery</h2>
        <p>(Updated on June 2022)</p>
      </div>
  
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-certification">Certification</li>
            <li data-filter=".filter-parttime">Part-time work</li>
            <li data-filter=".filter-Internship">Internship</li>
            <li data-filter=".filter-unilife">University</li>
            <li data-filter=".filter-hobby">Hobby</li>
          </ul>
        </div>
      </div>
  
      <div class="row portfolio-container">
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-certification">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Certification.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Certification from Harvard University</h4>
              <p>Web Programming with Python and JavaScript, including six projects</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-certification">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Certification2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>OUTSTANDING ACADEMIC PERFORMANCE AWARD 2020</h4>
              <p>Was one of the best fifty-three students in the university of the year</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-certification">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Senior.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Ablefetch Platform</h4>
              <p>Freelance platform startup business as a Senior Project</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-parttime">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Part-time (2).png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>A seller on Fiverr</h4>
              <p>Freelance of English-Thai Translation</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-parttime">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Part-time (1).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Group Picture with AEDO Company</h4>
              <p>Photo was took while I was working as a part-time full-stack developer</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (1).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in Gosoft (Thailand) Co., Ltd as a full-stack developer</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (2).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (3).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in Gosoft (Thailand) Co., Ltd as a full-stack developer</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-unilife">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Unilife.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Class Presentation</h4>
              <p>Our group project was creation of IT School Web Application in early 2019</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (4).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (5).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (6).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (7).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (8).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (9).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in C.P. ALL PUBLIC Co., Ltd as a building facility maintenance</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-Internship">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Internship (10).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CP's Internship</h4>
              <p>I was interning in Gosoft (Thailand) Co., Ltd as a full-stack developer</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-unilife">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/Unilife2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Computer Science Friends</h4>
              <p>We took this photo together after the final test of the first year</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-hobby">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hobby (1).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Basketball Player</h4>
              <p>I love playing basketball as my favorite sport</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-hobby">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hobby (2).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Guitarist</h4>
              <p>I love to express heavy metal via electric guitar</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-hobby">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hobby (3).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Music Producer/Lover</h4>
              <p>I have been obsessing music since I was a young boy</p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 portfolio-item filter-hobby">
          <div class="portfolio-wrap">
            <img src="assets/img/portfolio/hobby (4).jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Media Creator</h4>
              <p>I love doing media things like filming a short movie with friends</p>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section><!-- End Portfolio Section -->
  