

<title>Profile - Tanapun Arthakaivalvatee</title>


  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">

      <h1><a href="/index">Tanapun Arthakaivalvatee</a></h1>
      <h2>I'm a <span>developer</span> who gets excited with the word "impossible"</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#resume">CV</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/thai"><span class="thai">ไทย</span> <i class="fas fa-globe-americas"></i></a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        <a href="https://www.fiverr.com/aliuses" class="fiverr"><img src="/assets/img/fiverr.png" width="15"
            alt="fiverr"></a>
        <a href="www.linkedin.com/in/tanapunart" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/circle-cropped.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Full-Stack Developer</h3>
          <p class="font-italic">
            I am committed to learning and self-development consistently for achieving better results.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Nickname:</strong> Caesar</li>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 23</li>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> October 1999</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Bangkok, Thailand</li>

              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor of Science</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.tanapun.me</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +66 62 518 0678</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> tanapun.art@gmail.com</li>
              </ul>
            </div>
          </div>
          <p>
            I am motivated and ambitious. I thrive on a challenge and create objectives for myself regularly so that I
            have something to aim forward. I'm not satisfied with mediocrity, and I'm continuously seeking methods to
            improve and reach excellence. I am always looking for ways to enhance my professional skills.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="fas fa-book i"></i>
            <span data-toggle="counter-up">3.67</span>
            <h6 style="color: #18d26e;margin-bottom: 0.3rem;">GPAX</h6>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="fas fa-language i"></i>
            <span>C2</span>
            <a href="https://www.efset.org/cert/Vz3NHd">English Proficiency <i class="fas fa-external-link-alt"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-certificate i"></i>
            <span data-toggle="counter-up">23</span>
            <a href="https://drive.google.com/file/d/1f-nZCohSq2EejD8RKlez5UCEH-2yflZm/view?usp=sharing">Earned
              Certifications <i class="fas fa-external-link-alt"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="fas fa-user-graduate i"></i>
            <span data-toggle="counter-up">3</span>
            <h6 style="color: #18d26e;margin-bottom: 0.3rem;">Scholarship & Loan</h6>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills (Updated on Aug 2021)</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-12">
          <p><strong>Criteria - </strong> <span style="color: #D12C9C;">Forgotten (Reviewable): 0-5%,</span> <span
              style="color: #D15202;">Beginner: 6-30%,</span> <span style="color: #21CCD1">Intermediate: 31-60%,</span>
            <span style="color: #18d26e;">Advanced: 61-100%</span>
          </p>
          <p class="text-secondary">Note: All percents are based on the confidence level</p>
        </div>

      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Angular <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate " role="progressbar" aria-valuenow="55"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Bootstrap <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C <i class="val">20%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner " role="progressbar" aria-valuenow="20" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">C++ <i class="val">5%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-forgotten" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">CSS <i class="val">63%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="63" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Dart <i class="val">40%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Django <i class="val">30%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Flask <i class="val">30%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Flutter <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HTML5 <i class="val">95%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">IoT (Adruino)<i class="val">25%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar  progress-bar-beginner" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>



        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Java <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="55"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Javascript <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">jQuery <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Maven <i class="val">6%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="6" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MongoDB <i class="val">30%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">MySQL <i class="val">65%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">NodeJs <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Python <i class="val">40%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Spring Boot <i class="val">15%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="15" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">TypeScript <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">VueJs <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
              </div>
            </div>
          </div>


        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Others</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #ffbb2c;"></i>
            <h3>Adobe XD</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>Data Science</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fab fa-docker" style="color: #e80368;"></i>
            <h3>Docker</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="fab fa-figma" style="color: #e361ff;"></i>
            <h3>Figma</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fab fa-github" style="color: #47aeff;"></i>
            <h3>Git</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fab fa-google" style="color: #ffa76e;"></i>
            <h3>Google Cloud</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fas fa-dharmachakra" style="color: #11dbcf;"></i>
            <h3>Kubernetes</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fas fa-network-wired" style="color: #4233ff;"></i>
            <h3>Postman</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fas fa-code-branch" style="color: #b2904f;"></i>
            <h3>SVN</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fab fa-sourcetree" style="color: #b20969;"></i>
            <h3>SourceTree</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3>Startup Business</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="fab fa-wordpress" style="color: #29cc61;"></i>
            <h3>WordPress</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Gallery of Hobbies</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <img src="assets/img/basketball.jpg" width="100" height="auto" alt="">
          <h3 class="text-center">Basketball Player</h3>
        </div>


        <div class="testimonial-item">
          <img src="assets/img/IMG_8322.JPG" width="50" height="auto" alt="">
          <h3 class="text-center">Metal Guitarist</h3>
        </div>

        <div class="testimonial-item">
          <img src="assets/img/CS50W.png" width="100" height="auto" alt="">
          <h3 class="text-center">Non-stop Learner</h3>
        </div>

        <div class="testimonial-item">
          <img src="assets/img/video.jpg" width="100" height="auto" alt="">
          <h3 class="text-center">Video Producer/Editor</h3>
        </div>

        <div class="testimonial-item">
          <img src="assets/img/musicproducer.jpg" width="100" height="auto" alt="">
          <h3 class="text-center">Music Producer/Maker/Writer</h3>
        </div>

      </div>

      <div class="section-title">
        <h2>Hobby Video(s) - Metal Guitar Cover</h2>
      </div>

      <div class="row">
        <div class="col-md-2 col-sm-0"></div>
        <div class="text-center col-md-8 col-sm-12">
          <iframe width="auto" height="300" src="https://www.youtube.com/embed/QyttF7gIVrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-2 col-sm-0"></div>
      </div>
    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>CV</h2>
        <p>Check My CV</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Tanapun Arthakaivalvatee</h4>
            <p><em>Motivative and innovative Full-Stack Developer with over a year of experience in web application
                design and development, from concept to final, polished product delivery.</em>
            </p>
            <p>
            <ul>
              <li>Bangkok, Thailand</li>
              <li>(+66) 62 518 0678</li>
              <li>tanapun.art@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Scholarship & Loan</h3>
          <div class="resume-item">
            <h4>Outstanding Academic Performance Award 2020</h4>
            <h5>2020</h5>
            <p><em>University Scholarship</em></p>
            <ul>
              <li>Was one of the best fifty-three students in the university of the year.</li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Charoen Pokphand Group (C.P. GROUP) Scholarship</h4>
            <h5>2019 - 2022</h5>
            <p><em>Ongoing Scholarship</em></p>
            <ul>
              <li>Required me to study various courses including English, data science, soft skills, hard skills,
                finance management, and useful knowledge and skills.</li>
              <li>Required me to create a project to improve a school sustainability.</li>
              <li>Required me to intern at Gosoft (Thailand) Co., Ltd. </li>
            </ul>
          </div>

          <div class="resume-item">
            <h4>Income Contingent Loan</h4>
            <h5>2018 - 2022</h5>
            <p><em>Ongoing Loan</em></p>
            <ul>
              <li>Required me to participate in necessary events for at least 36 hours per semester</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Science (Computer Science and Innovation)</h4>
            <h5>2018 - 2022</h5>
            <p><em>Mae Fah Luang University, Chiang Rai, Thailand</em></p>
            <ul>
              <li>GPAX: 3.67</li>
              <li>Senior project involved full-stack web application development & initiating/running a startup business
              </li>
              <li>Expected to earn first class honors, gold medal</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>General Education Diploma (GED)</h4>
            <h5>2018</h5>
            <p><em>Paradigm: Second floor at Almalink Building, Chitlom, Bangkok, Thailand.</em></p>
            <ul>
              <li>GPAX: 3.03</li>
              <li>Took GED test to pass and be approved as a grade-12 student.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Elementary School - High School</h4>
            <h5>2009-2017</h5>
            <p><em>Christian Liberty Press, IL, United States of America</em></p>
            <ul>
              <li>Homeschooling</li>
              <li>Self-study</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>back-end developer (Co-operative Education)</h4>
            <h5>Jan 2022 - May 2022</h5>
            <p><em>Accenture Solutions Co., Ltd, Bangkok, Thailand</em></p>
            <p>
            <ul>
              <li>Tested system according to assigned test cases</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Developer (Freelance)</h4>
            <h5>Aug 2021 - Dec 2021</h5>
            <p><em>Yadee - Online Pharmarcy Store Application</em></p>
            <p>
            <ul>
              <li>Designed and created front-end pages for admin panel</li>
              <li>Created management system for admin panel</li>
              <li>Deployed admin panel website on cloud server</li>
              <li>Designed and created database</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Developer (Freelance)</h4>
            <h5>Aug 2021 - Sep 2021</h5>
            <p><em>Jinjang筆譯/口譯服務｜Interpreter Procurement Services - Translation Services</em></p>
            <p>
            <ul>
              <li>Website: <a href="https://www.jinjang.online/">www.jinjang.online</a></li>
              <li>Created front-end pages according to requirements</li>
              <li>Created back-end system for the website</li>
              <li>Deployed website on cloud system</li>
              <li>Designed and created database</li>
              <li>Connected cloud server to registered domain name</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Engineer (Remote Part-time)</h4>
            <h5>Jul 2021 - Present</h5>
            <p><em>Proof Of Happiness, Inc., Delaware, United States </em></p>
            <p>
            <ul>
              <li>Research and identify new products and marketplaces.</li>
              <li>Design software system architecture.</li>
              <li>Write technical documents.</li>
              <li>Maintain, analyze, design, and develop products for every process</li>
              <li>Ensure all essential app integrations are implemented and working at all times.</li>
              <li>Employ simple, quick, inexpensive solutions.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-stack Developer (Internship)</h4>
            <h5>Jun 2021 - Jul 2021</h5>
            <p><em>Gosoft (Thailand) Co., Ltd, Nonthaburi, Thailand</em></p>
            <p>
            <ul>
              <li>Developed Angular components according to the UIs</li>
              <li>Wrote Spring Boot APIs</li>
              <li>Integrated Spring back-end to front-end</li>
              <li>Wrote string translation documents</li>
              <li>Wrote API document</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Developer (Freelance)</h4>
            <h5>Mar 2021</h5>
            <p><em>Maitree Solution (freelance team), Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>Designed system database</li>
              <li>Developed complex front-end page according to the requirement</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Developer & Entrepreneur (Senior Project)</h4>
            <h5>Jan 2021 - Dec 2021</h5>
            <p><em>Mae Fah Luang University, Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>A start-up project</li>
              <li>Do everything from scracth based on SDLC.</li>
              <li>Still on-going</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Developer (Freelance/Solo)</h4>
            <h5>Jul 2020 - Oct 2020</h5>
            <p><em>A start-up project (customer required me not to specifically reveal this), Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>Designed system architecture</li>
              <li>Developed front-end pages for over 20 pages</li>
              <li>Designed & Created MySQL database</li>
              <li>Developed all back-end APIs according to the design</li>
              <li>Tested the product</li>
              <li>Deployed on a cloud server</li>
              <li>Maintained the system until everything went satisfied</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Developer (Part-time)</h4>
            <h5>May 2020 - Aug 2020</h5>
            <p><em>Academic Extension and Development Office (AEDO at MFU), Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>Created database tables</li>
              <li>Developed complex front-end pages according to the requirements</li>
              <li>Maintained API routes</li>
              <li>Tested API services</li>
              <li>Monitored actual producted launch</li>
              <li>Troubleshot every issues from ticket issue system.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>English-Thai Translator (Freelance/Solo)</h4>
            <h5>Feb 2020 - Present</h5>
            <p><em>A seller on Fiverr</em></p>
            <p>
            <ul>
              <li>Translate every kind of documents.</li>
              <li>Do voice over according to client's requirement.</li>
              <li>Subtitle in both of the languages</li>
              <li>Technical translate on, for example, WordPress & CrowdIn</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Data Scientist (Freelance)</h4>
            <h5>Feb 2020 - March 2020</h5>
            <p><em>Biomedical Informatic Laboratory, Mae Fah Luang University, Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>Applied a viral process result from lab into algorithm predictor.</li>
              <li>Analysed, built, & cleaned data (approx. 500k rows) on Excel</li>
              <li>Delivered and discussed the result</li>
              <li>Developed a static web-application to display final data</li>
              <li>Deployed the web-application on a server</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Full-Stack Developer (Part-time)</h4>
            <h5>Aug 2019 - Jun 2020</h5>
            <p><em>Mfessolutions Co.,Ltd, Chiang Rai, Thailand</em></p>
            <p>
            <ul>
              <li>Developed front-end pages according to the UI designs</li>
              <li>Created database tables</li>
              <li>Created back-end API services</li>
              <li>Tested APIs</li>
              <li>Integrated back-end to front-end</li>
              <li>Deployed for testing via Docker & FileZilla</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Based in</h3>
            <p>Bangkok</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
                <a href="https://www.fiverr.com/aliuses" class="fiverr"><img src="/assets/img/fiverr.png" width="15"
                    alt="fiverr"></a>
              <a href="www.linkedin.com/in/tanapunart" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>tanapun.art@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+66 62 518 0678</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->



  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>