
<body class="thai">

    <!-- ======= Header ======= -->
    <header id="header" class="header-tops">
      <div class="container">
  
        <h1><a href="index.html"><span class="thai">ฐานพันธ์ อรรถไกวัลวที</span></a></h1>
        <h2 class="thai">ผมเป็น<span>นักพัฒนา</span>และผมมักจะตื่นเต้นกับคำว่า "เป็นไปไม่ได้"</h2>
  
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header"><span class="thai">หน้าแรก</span></a></li>
            <li><a href="#about"><span class="thai">เกี่ยวกับ</span></a></li>
            <li><a href="#resume"><span class="thai">CV</span></a></li>
            <li><a href="#contact"><span class="thai">ติดต่อ</span></a></li>
            <li><a href="/index"><span class="thai">English</span> <i class="fas fa-globe-americas"></i></a></li>
          </ul>
        </nav><!-- .nav-menu -->
  
        <div class="social-links">
          <a href="https://www.fiverr.com/aliuses" class="fiverr"><img src="/assets/img/fiverr.png" width="15"
              alt="fiverr"></a>
          <a href="www.linkedin.com/in/tanapunart" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>
  
      </div>
    </header><!-- End Header -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
  
      <!-- ======= About Me ======= -->
      <div class="about-me container">
  
        <div class="section-title-thai">
          <h2 class="thai">เกี่ยวกับ</h2>
          <p class="thai">เรียนรู้เพิ่มเติมเกี่ยวกับตัวผม</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/circle-cropped.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3 class="thai">นักพัฒนาแบบ Full-Stack</h3>
            <p class="font-italic thai">
              ผมมีความมุ่งมั่นที่จะเรียนรู้และพัฒนาตนเองอยู่ตลอดเวลาเพื่อผลลัพธ์ที่ดีขึ้น
            </p>
            <div class="row thai">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>ชื่อเล่น:</strong> ซีซ่า</li>
                  <li><i class="icofont-rounded-right"></i> <strong>อายุ:</strong> 23</li>
                  <li><i class="icofont-rounded-right"></i> <strong>วันเกิด:</strong> ตุลาคม 1999</li>
                  <li><i class="icofont-rounded-right"></i> <strong>อาศัยอยู่ที่:</strong> กรุงเทพฯ, ประเทศไทย</li>
  
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>วุฒิการศึกษา:</strong> วิทยาศาสตรบัณฑิต</li>
                  <li><i class="icofont-rounded-right"></i> <strong>เว็บไซต์:</strong> www.tanapun.me</li>
                  <li><i class="icofont-rounded-right"></i> <strong>เบอร์โทร:</strong> +66 62 518 0678</li>
                  <li><i class="icofont-rounded-right"></i> <strong>อีเมล:</strong> tanapun.art@gmail.com</li>
                </ul>
              </div>
            </div>
            <p>
              ผมเป็นคนที่มีแรงผลักดันและมีความทะเยอทะยานตลอดเวลา
              ผมชอบที่จะทำสิ่งที่ท้าทายให้สำเร็จและตั้งเป้าหมายให้ตัวเองอย่างสม่ำเสมอเพื่อการพัฒนาที่ต่อเนื่อง
              ผมไม่ชอบผลลัพท์ที่ธรรมดา และผมมักจะมองหาวิธีที่ทำให้มันดีขึ้น ผมชอบมองหาวิธีการใหม่ๆ
              อย่างต่อเนื่องเพื่อพัฒนาความสามารถทางด้านการเขียนโปรแกรมของผม
            </p>
          </div>
        </div>
  
      </div><!-- End About Me -->
  
      <!-- ======= Counts ======= -->
      <div class="counts container">
  
        <div class="row">
  
          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fas fa-book i"></i>
              <span data-toggle="counter-up">3.67</span>
              <h6 style="color: #18d26e;margin-bottom: 0.3rem;">เกรดเฉลี่ยรวม</h6>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fas fa-language i"></i>
              <span>C2</span>
              <a href="https://www.efset.org/cert/Vz3NHd">ระดับภาษาอังกฤษ <i class="fas fa-external-link-alt"></i></a>
            </div>
  
          </div>
  
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-certificate i"></i>
              <span data-toggle="counter-up">23</span>
              <a href="https://drive.google.com/file/d/1f-nZCohSq2EejD8RKlez5UCEH-2yflZm/view?usp=sharing">ใบประกาศนียบัตรที่มี
                <i class="fas fa-external-link-alt"></i></a>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fas fa-user-graduate i"></i>
              <span data-toggle="counter-up">3</span>
              <h6 style="color: #18d26e;margin-bottom: 0.3rem;">จำนวนทุนและการกู้ยืม</h6>
            </div>
          </div>
  
        </div>
  
      </div><!-- End Counts -->
  
      <!-- ======= Skills  ======= -->
      <div class="skills container">
  
        <div class="section-title-thai">
          <h2>ทักษะ (ข้อมูลล่าสุดเมื่อ ส.ค. 2021)</h2>
        </div>
  
        <div class="row skills-content">
  
          <div class="col-lg-12">
            <p><strong>เกณฑ์ - </strong> <span style="color: #D12C9C;">ลืม (รื้อฟื้นได้): 0-5%,</span> <span
                style="color: #D15202;">ระดับเริ่มต้น: 6-30%,</span> <span style="color: #21CCD1">ระดับกลาง:
                31-60%,</span>
              <span style="color: #18d26e;">ระดับสูง: 61-100%</span>
            </p>
            <p class="text-secondary">หมายเหตุ: คะแนนเหล่านี้มาจากระดับความมั่นใจ</p>
          </div>
  
        </div>
  
        <div class="row skills-content">
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">Angular <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate " role="progressbar" aria-valuenow="55"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Bootstrap <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">C <i class="val">20%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner " role="progressbar" aria-valuenow="20" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">C++ <i class="val">5%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-forgotten" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">CSS <i class="val">63%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="63" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Dart <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Django <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Flask <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Flutter <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">HTML5 <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">IoT (Adruino)<i class="val">25%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar  progress-bar-beginner" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
  
  
          </div>
  
          <div class="col-lg-6">
  
            <div class="progress">
              <span class="skill">Java <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="55"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Javascript <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">jQuery <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Maven <i class="val">6%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="6" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">MongoDB <i class="val">30%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">MySQL <i class="val">65%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">NodeJs <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-advanced" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Python <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">Spring Boot <i class="val">15%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="15" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">TypeScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-intermediate" role="progressbar" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
  
            <div class="progress">
              <span class="skill">VueJs <i class="val">25%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar progress-bar-beginner" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
  
  
          </div>
  
        </div>
  
      </div><!-- End Skills -->
  
      <!-- ======= Interests ======= -->
      <div class="interests container">
  
        <div class="section-title-thai">
          <h2>อื่น ๆ</h2>
        </div>
  
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #ffbb2c;"></i>
              <h3>Adobe XD</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3>Data Science</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="fab fa-docker" style="color: #e80368;"></i>
              <h3>Docker</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="fab fa-figma" style="color: #e361ff;"></i>
              <h3>Figma</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-github" style="color: #47aeff;"></i>
              <h3>Git</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-google" style="color: #ffa76e;"></i>
              <h3>Google Cloud</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fas fa-dharmachakra" style="color: #11dbcf;"></i>
              <h3>Kubernetes</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fas fa-network-wired" style="color: #4233ff;"></i>
              <h3>Postman</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fas fa-code-branch" style="color: #b2904f;"></i>
              <h3>SVN</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-sourcetree" style="color: #b20969;"></i>
              <h3>SourceTree</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3>Startup Business</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-wordpress" style="color: #29cc61;"></i>
              <h3>WordPress</h3>
            </div>
          </div>
        </div>
  
      </div><!-- End Interests -->
  
      <!-- ======= Testimonials ======= -->
      <div class="testimonials container">
  
        <div class="section-title-thai">
          <h2>คลังรูปภาพจากงานอดิเรก</h2>
        </div>
  
        <div class="owl-carousel testimonials-carousel">
  
          <div class="testimonial-item">
            <img src="assets/img/basketball.jpg" width="100" height="auto" alt="">
            <h3 class="text-center thai">นักบาส</h3>
          </div>
  
  
          <div class="testimonial-item">
            <img src="assets/img/IMG_8322.JPG" width="50" height="auto" alt="">
            <h3 class="text-center thai">มือกีตาร์แนวเมทัล</h3>
          </div>
  
          <div class="testimonial-item">
            <img src="assets/img/CS50W.png" width="100" height="auto" alt="">
            <h3 class="text-center thai">นักเรียนรู้ที่ไม่หยุดหย่อน</h3>
          </div>
  
          <div class="testimonial-item">
            <img src="assets/img/video.jpg" width="100" height="auto" alt="">
            <h3 class="text-center thai">ผู้ผลิต/คนตัดต่อวิดีโอ</h3>
          </div>
  
          <div class="testimonial-item">
            <img src="assets/img/musicproducer.jpg" width="100" height="auto" alt="">
            <h3 class="text-center thai">ผู้ผลิต/นักเขียนเพลง</h3>
          </div>
  
        </div>
        <div class="section-title">
          <h2>วิดีโองานอดิเรก - โคฟเวอร์กีตาร์แนวเมทัล</h2>
        </div>
  
        <div class="row">
          <div class="col-md-2 col-sm-0"></div>
          <div class="text-center col-md-8 col-sm-12">
            <iframe width="auto" height="300" src="https://www.youtube.com/embed/QyttF7gIVrM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-md-2 col-sm-0"></div>
        </div>
      </div><!-- End Testimonials  -->
  
    </section><!-- End About Section -->
  
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
  
        <div class="section-title-thai">
          <h2>CV</h2>
          <p>โปรดลองพิจราณา CV ของผม</p>
        </div>
  
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">สรุปโดยย่อ</h3>
            <div class="resume-item pb-0">
              <h4>ฐานพันธ์ อรรถไกวัลวที</h4>
              <p><em>ผมเป็นนักพัฒนาแบบ Full-Stack ที่มีแรงบันดาลใจและความสร้างสรรค์
                  มีประสบการณ์ด้านการออกแบบและพัฒนาเว็บแอปพลิเคชันมากว่าหนึ่งปี
                  ตั้งแต่การออกแบบจนถึงการปล่อยผลิตภัณฑ์</em>
              </p>
              <p>
              <ul>
                <li>กรุงเทพฯ, ประเทศไทย</li>
                <li>(+66) 62 518 0678</li>
                <li>tanapun.art@gmail.com</li>
              </ul>
              </p>
            </div>
  
  
            <h3 class="resume-title">ทุน & การกู้ยืม</h3>
  
            <div class="resume-item">
              <h4>นักศึกษาที่มีผลการเรียนดีเด่น ประจำปีการศึกษา 2563</h4>
              <h5>2020</h5>
              <p><em>ทุนจากมหาวิทยาลัย</em></p>
              <ul>
                <li>ได้รับเลือกเป็นหนึ่งในนักศึกษาที่เรียนดีที่สุดจาก 53 คนของปีนั้น</li>
              </ul>
            </div>
  
            <div class="resume-item">
              <h4>ทุนการศึกษาเครือเจริญโภคภัณฑ์</h4>
              <h5>2019 - 2022</h5>
              <p><em>ทุนต่อเนื่อง</em></p>
              <ul>
                <li>ได้เรียนคอร์สบังคับจากทางทุน เช่น คอร์สเรียนภาษาอังกฤษ วิทยาการข้อมูล ทักษะที่จำเป็นต่างๆ
                  การจัดการบริหารเงิน รวมไปถึงทักษะและความรู้ที่มีประโยชน์</li>
                <li>ได้ทำโปรเจคในการพัฒนาความยั่งยืนของชุมชนโดยมุ่งเน้นไปที่โรงเรียนชนบท</li>
                <li>ได้ฝึกงานที่บริษัท Gosoft (Thailand) Co., Ltd</li>
              </ul>
            </div>
  
            <div class="resume-item">
              <h4>กองทุนเงินกู้ยืมเพื่อการศึกษาที่ผูกกับรายได้ในอนาคต (กรอ.)</h4>
              <h5>2018 - 2022</h5>
              <p><em>ทุนต่อเนื่อง</em></p>
              <ul>
                <li>จำเป็นต้องเข้าร่วมกิจกรรมที่มีประโยชน์ต่อสาธารณะรวมกันไม่ต่ำกว่า 36 ชั่วโมงต่อเทอม</li>
              </ul>
            </div>
  
            <h3 class="resume-title">การศึกษา</h3>
            <div class="resume-item">
              <h4>วิทยาศาสตรบัณฑิต (สาขาวิทยาการคอมพิวเตอร์และนวัตกรรม)</h4>
              <h5>2018 - 2022</h5>
              <p><em>มหาวิทยาลัยแม่ฟ้าหลวง เชียงราย ประเทศไทย</em></p>
              <ul>
                <li>เกรดเฉลี่ยรวม: 3.67</li>
                <li>โปรเจคจบได้มีการพัฒนาเว็บแอพในทุกด้านอย่างเต็มรูปแบบ รวมไปถึงการริเริ่มและการดำเนินธุรกิจสตาร์ทอัพ
                </li>
                <li>คาดว่าจะได้เกียรตินิยมอันดับ 1 เหรียญทอง</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>General Education Diploma (GED)</h4>
              <h5>2018</h5>
              <p><em>Paradigm: ชั้น 2 อาคารอัลม่าลิงค์ ชิดลม กรุงเทพฯ ประเทศไทย</em></p>
              <ul>
                <li>เกรดเฉลี่ยรวม: 3.03</li>
                <li>สอบ GED เพื่อผ่านทุกระดับชั้นตั้งแต่ชั้นมัธยมศึกษาปีที่ 6 ลงไป</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>โรงเรียนประถม - โรงเรียนมัธยม</h4>
              <h5>2009-2017</h5>
              <p><em>Christian Liberty Press อิลลินอยส์ สหรัฐอเมริกา</em></p>
              <ul>
                <li>เรียนที่บ้าน</li>
                <li>เรียนด้วยตัวเอง</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">ประสบการณ์การทำงาน</h3>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Back-end (สหกิจศึกษา)</h4>
              <h5>ม.ค. 2022 - พ.ค. 2022</h5>
              <p><em>Accenture Solutions Co., Ltd กรุงเทพฯ ประเทศไทย</em></p>
              <p>
              <ul>
                <li>ทดสอบระบบตามเทสเคส</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนา (ฟรีแลนซ์)</h4>
              <h5>ส.ค. 2021 - ธ.ค. 2021</h5>
              <p><em>Yadee - แอพพลิเคชั่นสำหรับสั่งซื้อยาอออนไลน์</em></p>
              <p>
              <ul>
                <li>ออกแบบและสร้างหน้าเว็บในส่วนเว็บแอดมิน</li>
                <li>สร้างระบบการจัดการหลังบ้านในส่วนเว็บแอดมิน</li>
                <li>นำตัวเว็บขึ้นระบบคลาวด์</li>
                <li>ออกแบบและสร้างฐานข้อมูล</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนา (ฟรีแลนซ์)</h4>
              <h5>ส.ค. 2021 - ก.ย. 2021</h5>
              <p><em>Jinjang筆譯/口譯服務｜บริการจัดหาล่าม-รับแปลภาษา</em></p>
              <p>
              <ul>
                <li>เว็บไซต์: <a href="https://www.jinjang.online/">www.jinjang.online</a></li>
                <li>สร้างหน้าเว็บตามการออกแบบ</li>
                <li>สร้างระบบให้แก่เว็บ</li>
                <li>นำตัวเว็บขึ้นระบบคลาวด์</li>
                <li>ออกแบบและสร้างฐานข้อมูล</li>
                <li>เชื่อมโดเมนเข้ากับเซิร์ฟเวอร์</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>วิศวกร Full-Stack (พาร์ทไทม์แบบออนไลน์)</h4>
              <h5>ก.ค. 2021 - ปัจจุบัน</h5>
              <p><em>Proof Of Happiness, Inc. เดลาแวร์ สหรัฐอเมริกา </em></p>
              <p>
              <ul>
                <li>วิจัยและระบุอัตลักษณ์ผลิตภัณฑ์และตลาดใหม่</li>
                <li>ออกแบบโครงสร้างระบบซอฟต์แวร์</li>
                <li>เขียนเอกสารเฉพาะทาง</li>
                <li>บำรุง วิเคราะห์ ออกแบบ และพัฒนาผลิตภัณฑ์ในทุกกระบวนการ</li>
                <li>ดูแลทุกแอพภายในระบบให้ทำงานอย่างราบรื่น</li>
                <li>คิดหาทางออกที่ง่าย เร็ว และประหยัดต้นทุน</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Full-stack (ฝึกงาน)</h4>
              <h5>มิ.ย. 2021 - ก.ค. 2021</h5>
              <p><em>Gosoft (Thailand) Co., Ltd นนทบุรี ประเทศไทย</em></p>
              <p>
              <ul>
                <li>พัฒนา Angular components ตามที่ UI กำหนด</li>
                <li>เขียน Spring Boot APIs</li>
                <li>เชื่อม Spring back-end เข้ากับ front-end</li>
                <li>เขียนเอกสารการแปลสตริงค์</li>
                <li>เขียนเอกสาร API</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนา (ฟรีแลนซ์)</h4>
              <h5>มี.ค. 2021</h5>
              <p><em>Maitree Solution (ทีมฟรีแลนซ์) เชียงราย ประเทศไทย</em></p>
              <p>
              <ul>
                <li>ออกแบบฐานข้อมูลของระบบ</li>
                <li>พัฒนาหน้า front-end ที่ซับซ้อนตามความต้องการที่ระบุในเอกสาร</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Full-stack & ผู้ประกอบการ (โปรเจคจบ)</h4>
              <h5>ม.ก. 2021 - ธ.ค. 2021</h5>
              <p><em>มหาวิทยาลัยแม่ฟ้าหลวง เชียงราย ประเทศไทย</em></p>
              <p>
              <ul>
                <li>โปรเจคเกี่ยวกับธุรกิจสตาร์ทอัพ</li>
                <li>ทำทุกอย่างตั้งแต่ต้นโดยอยู่บนพื้นฐานของ SDLC</li>
                <li>โปรเจคกำลังดำเนินอยู่</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Full-Stack (ฟรีแลนซ์/เดี่ยว)</h4>
              <h5>ก.ค. 2020 - ต.ค. 2020</h5>
              <p><em>โปรเจคเกี่ยวกับธุรกิจสตาร์ทอัพ (ลูกค้าไม่อนุญาตให้เปิดเผยข้อมูลโดยเจาะจง) เชียงราย ประเทศไทย</em>
              </p>
              <p>
              <ul>
                <li>ออกแบบโครงสร้างระบบ</li>
                <li>พัฒนาหน้า front-end มากกว่า 20 หน้า</li>
                <li>ออกแบบและสร้างฐานข้อมูล MySQL</li>
                <li>พัฒนาทุก back-end APIs ตามที่ออกแบบไว้</li>
                <li>ทดสอบผลิตภัณฑ์</li>
                <li>ปล่อยผลิตภัณฑ์บนคลาวด์เซิร์ฟเวอร์</li>
                <li>ดูและระบบจนกระทั่งบรรลุตามเป้าหมาย</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Full-Stack (พาร์ทไทม์)</h4>
              <h5>พ.ค. 2020 - ส.ค. 2020</h5>
              <p><em>Academic Extension and Development Office (AEDO ที่ มฟล) เชียงราย ประเทศไทย</em></p>
              <p>
              <ul>
                <li>สร้างตารางฐานข้อมูล</li>
                <li>พัฒนาหน้า front-end ที่ซับซ้อนตามความต้องการที่ระบุในเอกสาร</li>
                <li>ดูแล API routes</li>
                <li>ทดสอบ API services</li>
                <li>สอดส่งดูแลการปล่อยผลิตภัณฑ์</li>
                <li>แก้ทุกปัญหาที่ถูกแจ้งมาในระบบแจ้งปัญหา</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักแปลภาษา อังกฤษ-ไทย (ฟรีแลนซ์/เดี่ยว)</h4>
              <h5>ก.พ. 2020 - ปัจจุบัน</h5>
              <p><em>เป็นผู้ขายบน Fiverr</em></p>
              <p>
              <ul>
                <li>รับแปลเอกสารทุกชนิด</li>
                <li>พากษ์เสียงตามความต้องการของลูกค้า</li>
                <li>ทำซับไตเติ้ลสำหรับทั้งสองภาษา</li>
                <li>แปลภาษาเชิงเทคนิค เช่นแปลบน WordPress & CrowdIn</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักวิทยาการข้อมูล (ฟรีแลนซ์)</h4>
              <h5>ก.พ. 2020 - มี.ค. 2020</h5>
              <p><em>Biomedical Informatic Laboratory มหาวิทยาลัยแม่ฟ้าหลวง เชียงราย ประเทศไทย</em></p>
              <p>
              <ul>
                <li>นำผลลัพท์เกี่ยวกับไวรหัสไปวิเคราะห์ด้วยอัลกอริทึ่ม</li>
                <li>วิเคราะห์ สร้าง และทำความสะอาดข้อมูล (ประมาณ 5 แสนแถว) ผ่านโปรแกรม Excel</li>
                <li>ส่งมอบและหารือเกี่ยวกับผลลัพท์</li>
                <li>พัฒนาเว็บแอพพลิเคชั่นสำหรับแสดงผลลัพท์</li>
                <li>ปล่อยเว็บแอพพลิเคชั่นผ่านเซิร์ฟเวอร์</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>นักพัฒนาแบบ Full-Stack (พาร์ทไทม์)</h4>
              <h5>ส.ค. 2019 - มิ.ย. 2020</h5>
              <p><em>Mfessolutions Co.,Ltd เชียงราย ประเทศไทย</em></p>
              <p>
              <ul>
                <li>พัฒนาหน้า front-end ตามการออกแบบของ UI</li>
                <li>สร้างตารางฐานข้อมูล</li>
                <li>สร้าง back-end API services</li>
                <li>ทดสอบ APIs</li>
                <li>เชื่อม back-end เข้ากับ front-end</li>
                <li>ปล่อยผลิตภัณฑ์สำหรับการทดสอบผ่าน Docker & FileZilla</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Resume Section -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
  
        <div class="section-title-thai">
          <h2>การติดต่อ</h2>
          <p>ติดต่อผมได้ที่...</p>
        </div>
  
        <div class="row mt-2">
  
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3 class="thai">อาศัยอยู่ที่</h3>
              <p class="thai">กรุงเทพฯ</p>
            </div>
          </div>
  
          <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-share-alt"></i>
              <h3 class="thai">โปรไฟล์โซเชียลมีเดีย</h3>
              <div class="social-links">
                <a href="https://www.fiverr.com/aliuses" class="fiverr"><img src="/assets/img/fiverr.png" width="15"
                    alt="fiverr"></a>
                <a href="www.linkedin.com/in/tanapunart" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3 class="thai">อีเมล</h3>
              <p class="thai">tanapun.art@gmail.com</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3 class="thai">เบอร์โทร</h3>
              <p class="thai">+66 62 518 0678</p>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Contact Section -->
  
  
  
    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
  
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  
  </body>